*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: aqua;
}
.mainbody{
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: clamp(300px, 75vw, 550px);
    box-shadow: 15px 15px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.5s ease-in-out;
  
}

.mainbody:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.5s ease-in-out;
}
.input-cont{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.input{
    width: 100%;
    font-size: 2rem;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: #252525;
    color: #fff;
    text-align: right;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
button{
    height: 10vh;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-size: 1.3rem;
}
button:hover{
    background-color:#c4c4c4;
}

.equal{
    background-color: rgb(244, 58, 58);
    height: 100%;
    grid-row: 2/6;
    grid-column: 4/5;
}
.equal:hover{
    background-color: rgb(245, 40, 40);
}
.all-clear{
    width: 100%;
    grid-row:5/6;
    grid-column: 2/4;
    background-color: #dcaeb1;
}
.all-clear:hover{
    background-color: #d9999d ;
}
.operator{
    background-color: rgb(240, 240, 201);
}
.operator:hover{
    background-color: rgb(238, 238, 184);
}